body {
    background-color: white;
}

.items {
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
    margin-top: 60px;
}

#Logo {
    color: #15b9d9;
    font-size: 150px;
}

.btn {
    background-color: #15b9d9;
    border: solid;
    border-color: #15b9d9;
    border-radius: 70px;
    color: white;
    padding: 30px 80px;
    text-align: center;
    display: block;
    font-size: 60px;
    margin: auto;
    margin-bottom: 30px;
}

.btn:hover {
    background-color: white;
    color:#15b9d9;
    border-style: solid;
}